<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-4 footer_widget">
                    <div class="inner">
                        <h4>Apropos de nous</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, antesenectus et netus et malesuada fames ac turpis egestas.</p>
                    </div>
                </div>
                <div class="col-md-6 col-md-4 footer_widget">
                    <div class="inner">
                        <h4>Adresse</h4>
                        <h5>BKGTrans group.</h5>
                        <p>Quartier Adidogomé <br>Lomé - Togo <br>P: +(228)-90-38-99-14</p>
                        <h4>Newsletter</h4>
                        <form action="#" class="nw_form">
                            <input placeholder="Enter your email" type="email">
                            <button><i class="fa fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright-txt">
                        © 2020 BKGTrans website. Tous droits réserver .
                    </div>
                </div>
                <div class="col-lg-6 text-right">
                    <div class="footer-nav">
                        <a href="{{ path('homepage') }}">Home</a>
                        <a href="{{ path('ad_index') }}">Nos voitures</a>
                        <a href="{{ path('property_index') }}">Nos propriété</a>
                        <a href="{{ path('contactpage') }}">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>