{{ form_start(form) }}
    {{ form_row(form) }}
    <button class="btn btn-success ">
        <i class="fas fa-check"></i>
        {{ button_label|default('Enregistrer') }}
    </button>
{{ form_end(form) }}
