{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle Vente de propriété{% endblock %}

{% block body %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Vendre une propriété</a>
            </li>
            <li class="breadcrumb-item active"></li>
        </ol>

        <div class="card mb-3">
            <div class="card-header">
                Vente
            </div>
            <div class="card-body">
                {{ include('admin/sell/_form.html.twig') }}
            </div>
        </div>
        <a class="btn btn-link" href="{{ path('admin_sell_index') }}">
            <i class="fas fa-arrow-circle-left"></i>
            Retour à la liste
        </a>
    </div>
{% endblock %}
