{% extends 'dash.html.twig' %}

{% block title %}Profile de {{ app }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Mon Profile</a>
            </li>
            <li class="breadcrumb-item active"></li>
        </ol>

        <div class="card mb-3">
            <div class="card-header">
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
{% endblock %}
