{% extends 'base.html.twig' %}

{% block title %}Nos magifiques annonces{% endblock %}

{% block body %}
    <div class="page-title sp" style="background-image: url({{ asset('assets/img/rentalcar-cars.png') }})">
        <div class="container text-center">
            <h2>Nos Voitures</h2>
            <p>Malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
        </div>
    </div>
    <div class="portfolio-area sp">
        <div class="container">
            <div class="row">
                {% for ad in ads %}
                    {{ include('ad/_ad.html.twig') }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
